$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: $font-second;
  font-weight: 500;

  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(80, 0, 0);
}

.encompass {
  background-color:  rgb(80, 0, 0);
  min-height: 100vh;
  width: 100vw;
}

.header {
  font-size: 5.2rem;
  color: rgb(220, 174, 150);
  margin: 0rem auto;
  text-align: center;
  height: 8rem;
  height: 10vh;
  width: 70vw;
}

.top-rated {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
  color: rgb(220, 174, 150);
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 3rem auto;
  align-items: center;
  width: 40vw;
  height: 70vh auto;
  background-color: brown;
  flex-direction: column;
}

.space1{
  height: 2vh;
  width: 2vw;
}

.thumbnail {
  height: 0%;
  background-position: center;
  //transition: all 0.3s;
}
.thumb {
  width: 100%;
  height: 100%;
}

.game-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 1rem auto;
  color: rgb(220, 174, 150);
  text-align: center;
}

.best-deal{
  text-align: center;
  font-size: 1rem;
  color: rgb(220, 174, 150);
}

.normal-price{
  text-align: center;
  font-size: 1rem;
  color: rgb(220, 174, 150);
}

.deal-rating{
  text-align: center;
  font-size: 1rem;
  color: rgb(220, 174, 150);
}

.deals-price-ratings{
  display: flex;
  flex-direction: row;
}

#searchBar {
  width: 80vw;
  height: 10vh;
  position: relative;
  left: 10vw;
  border-radius: 10px;
  border: 5px solid rgb(220, 174, 150);
  padding: 5px 10px;
  font-size: 1rem;
}

.s_req{
  display: flex;
  text-align: center;
  color: rgb(220, 174, 150);
  font-size: 8vh;
  background-color: transparent;
  margin-top: 2vh;
  text-transform: capitalize;
}